@import url('https://fonts.googleapis.com/css?family=Oswald:300,400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lily+Script+One');

$font-base: 'Oswald', sans-serif;
$font-headings: 'Lily Script One', cursive;

$primary: #232323;
$white: #fff;